* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
}

body {
    background-color: #1e2d3b;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}